## Android Studio / IntelliJ
*.iml
.idea/
.kotlin/

## Gradle
.gradle/
**/build/

## Local machine config
local.properties
keystore.properties

## Signing keys and sensitive artifacts
key/
*.jks
*.keystore

## Native build outputs
.externalNativeBuild/
.cxx/

## Misc
captures/
*.hprof
.DS_Store
